.envrc
.precommit
_build
gui/.config/gtk-3.0/bookmarks
gui/.config/gtk-3.0/colors.css
gui/.config/gtk-3.0/gtk.css
gui/.config/gtk-3.0/settings.ini
gui/.config/gtk-4.0/bookmarks
gui/.config/gtk-4.0/colors.css
gui/.config/gtk-4.0/gtk.css
gui/.config/gtk-4.0/settings.ini
gui/.config/sway/config.display
