[user]
	name = Roman Asendorf
	email = roman.asendorf@gmail.com

[color]
	diff = auto
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p --decorate --all
	l1 = log --oneline --decorate --all
	lg1 = log --graph --oneline --decorate --all
