# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        language_version: python3.13
  - repo: https://github.com/homebysix/pre-commit-macadmin
    rev: v1.22.0
    hooks:
      - id: check-git-config-email
        args: ["--domains", "users.noreply.github.com"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.104.0
    hooks:
      - id: terraform_tflint
      - id: terraform_trivy
        args:
          - >
            --args=--tf-exclude-downloaded-modules
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
exclude: "(.git|.precommit|_build|node_modules)/.*"
