Xft.dpi: 96.0

xterm*selectToClipboard: true
xterm*disallowedWindowOps: 20,21,SetXProp
*.font:	Monospace:pixelsize=25:antialias=true:autohint=true;
*.fontalt0:Braille:pixelsize=24:antialias=true:autohint=true;
/* *.fontalt1:JoyPixels:pixelsize=24:antialias=true:autohint=true; */
*.alpha: 0.90

! colors

! special
*.foreground:   #B8BEC9
*.background:   #232731
*.cursorColor:  #ECEFF4
*.revCursorColor:  #555555

! black
*.color0:       #4C566A
*.color8:       #6C768A

! red
*.color1:       #BF616A
*.color9:       #af7370

! green
*.color2:       #A3BE8C
*.color10:      #B5CEA8

! yellow
*.color3:       #D7BA7D
*.color11:      #E7cb93

! blue
*.color4:       #5e81ac
*.color12:      #69A8C6

! magenta
*.color5:       #B48EAD
*.color13:      #939ede

! cyan
*.color6:       #88c0d0
*.color14:      #69BAC8

! white
*.color7:       #ABB2BF
*.color15:      #D8DEE9


emacs.fullheight: true
emacs.fullscreen: true
emacs.fullwidth: true

!URxvt*foreground   	: black
!URxvt*background	: rgba:ffff/ffff/ffff/bbbb
URxvt*foreground   	: #98c379
!URxvt*foreground   	: gray88
!URxvt*foreground   	: gray77
URxvt*background	: rgba:0001/0017/0007/8888
!!URxvt*background   : black
URxvt*depth: 32
URxvt*fade : 33

!URxvt*font			: xft:DejaVu Sans Mono:size=8:autohint=true
!URxvt*boldFont		: xft:DejaVu Sans Mono:size=8:bold:autohint=true
URxvt*boldFont		: xft:Consolas:size=8:bold, xft:Inconsolata\ for\ Powerline:size=8:bold:autohint=true
URxvt*font			: xft:Consolas:size=8, xft:Inconsolata\ for\ Powerline:size=8
!URxvt*italicFont	: xft:DejaVu Sans Mono:size=8:italic:autohint=true
!URxvt*boldItalicFont: xft:DejaVu Sans Mono:size=8:bold:italic:autohint=true
!URxvt*font			: xft:Terminess\ Powerline:size=8
!urxvt*font          : xft:Terminus:pixelsize=12,xft:Inconsolata\ for\ Powerline:pixelsize=12
!URxvt*font			: -misc-fixed-medium-r-normal-*-13-120-75-75-c-70-iso10646-1
!URxvt*boldfont		: -misc-fixed-bold-r-normal-*-13-120-75-75-c-70-iso10646-1

!URxvt*scrollBar    : false
!URxvt*reverseVideo : false
!URxvt*saveLines    : 60000
URxvt*cursorColor   : red
!URxvt*meta8        : false
!URxvt*modifer      : alt
URxvt*urlLauncher   : firefox
!URxvt*iso14755_52  : false
!
!!white black
!URxvt*color0       : black
!URxvt*color1       : red3
!URxvt*color2       : green3
!URxvt*color3       : yellow3
!URxvt*color4       : blue2
!URxvt*color5       : magenta3
!URxvt*color6       : cyan3
!URxvt*color7       : gray90
!
!URxvt*color8       : gray50
!URxvt*color9       : red2
!URxvt*color10      : green2
!URxvt*color11      : yellow2
!URxvt*color12      : rgb:5c/5c/ff
!URxvt*color13      : magenta2
!URxvt*color14      : cyan3
!URxvt*color15      : white
!
!black white
!URxvt*color0       : black
!URxvt*color1       : red
!URxvt*color2       : green
!URxvt*color3       : yellow
!URxvt*color4       : blue
!URxvt*color5       : magenta
!URxvt*color6       : orange
!URxvt*color7       : gray90
!URxvt*color8       : gray50
!URxvt*color9       : red
!URxvt*color10      : lightgreen
!URxvt*color11      : yellow
!URxvt*color12      : rgb:0c/0c/ff
!URxvt*color13      : magenta
!URxvt*color14      : cyan
!URxvt*color15      : white
