/* New Contact button */
#toolbarCreateContact {
  color: var(--light-text-color) !important;
  background-color: var(--highlight-background-color) !important;
  border-color: var(--highlight-dimmed-background-color) !important;
}

/* New Contact button - Hover*/
#toolbarCreateContact:hover {
  color: var(--light-text-color) !important;
  background-color: color-mix(in srgb, var(--highlight-background-color) 88%, transparent) !important;
  border-color: var(--highlight-dimmed-background-color) !important;
}

.searchBox, .themeableSearchBox { /* Eliminate borders, round corners, and increase height on buttons and search bars */
  border: none !important;
  border-radius: 5px !important;
  height: 31px !important;
  color: var(--light-color) !important;
  background-color: var(--highlight-background-color) !important;
}

.toolbarbutton-1:hover {
  color: var(--light-text-color) !important;
  background-color: var(--hover-background-color) !important;
  /* background-color: color-mix(in srgb, var(--highlight-background-color) 88%, transparent) !important; */
  border-color: var(--highlight-dimmed-background-color) !important;
}

/* Tree view / List view */
[is="tree-view-table-body"] > .selected {
  background-color: var(--highlight-dimmed-background-color) !important;
  /* background-color: color-mix(in srgb, var(--highlight-background-color) 55%, transparent) !important; */
}

[is="tree-view-table-body"]:focus-within > .selected {
  color: var(--light-color) !important;
  background-color: var(--highlight-background-color) !important;
}

[is="tree-view-table-body"] > :hover {
  background-color: var(--hover-background-color) !important;
}

.container:hover {
  background-color: var(--hover-background-color) !important;
}

/* Folder pane */
li.selected > .container {
  background-color: var(--highlight-dimmed-background-color) !important;
  /* background-color: color-mix(in srgb, var(--highlight-background-color) 55%, transparent) !important; */
}

li.selected > .container:hover {
  background-color: var(--hover-background-color) !important;
  /* background-color: color-mix(in srgb, var(--highlight-background-color) 11%, transparent) !important; */
}

table[is="tree-view-table"] > .selected {
  background-color: color-mix(in srgb, var(--highlight-dimmed-background-color) 10%, transparent) !important;
  /* background-color: color-mix(in srgb, var(--highlight-background-color) 55%, transparent) !important; */
   /* color: var(--light-text-color) !important; */
}

table[is="tree-view-table"]:focus-within > .selected {
  background-color: color-mix(in srgb, var(--highlight-background-color) 100%, transparent) !important;
}

/* Contact Card */
tr[is="ab-card-row"].selected:focus-within td {
  background-color: color-mix(in srgb, var(--highlight-background-color) 100%, transparent) !important;
  /* background-color: var(--highlight-background-color) !important; */
}

tr[is="ab-card-row"].selected:focus-within td > .card-container{
  background-color: color-mix(in srgb, var(--highlight-background-color) 100%, transparent) !important;
  /* background-color: var(--highlight-background-color) !important; */
}

tr[is="ab-card-row"].selected td {
  background-color: color-mix(in srgb, var(--highlight-dimmed-background-color) 10%, transparent) !important;
  /* background-color: color-mix(in srgb, var(--highlight-background-color) 55%, transparent) !important; */
}

tr[is="ab-card-row"]:hover td > td.not(.selected) {
  background-color: color-mix(in srgb, var(--hover-background-color) 10%, transparent) !important;
  /* background-color: color-mix(in srgb, var(--highlight-background-color) 88%, transparent) !important; */
}

tr[is="ab-card-row"].selected td > .card-container{
  background-color: color-mix(in srgb, var(--highlight-dimmed-background-color) 10%, transparent) !important;
  /* background-color: var(--highlight-dimmed-background-color) !important; */
}

tr[is="ab-card-row"]:hover td > .card-container.not(.selected) {
  background-color: color-mix(in srgb, var(--hover-background-color) 10%, transparent) !important;
 /* background-color: var(--hover-background-color) !important; */
  /* background-color: color-mix(in srgb, var(--highlight-background-color) 88%, transparent) !important; */
}

#books:not(:focus) :where(.bookRow, .listRow).selected > :is(.bookRow-container, .listRow-container){
  background-color: var(--highlight-dimmed-background-color) !important;
  /* background-color: color-mix(in srgb, var(--highlight-background-color) 55%, transparent) !important; */
}

#books :where(.bookRow, .listRow):not(.selected) > :is(.bookRow-container:hover, .listRow-container:hover){
  background-color: var(--hover-background-color) !important;
}

/* General settings per color scheme light/dark */
@media (-moz-content-prefers-color-scheme:light) {
  /* Light Theme */
  :root {
  --light-color: white;
  --light-text-color: var(--light-color);
  --hover-background-color: #dfdfdf;
  --highlight-text-color: #eeeeee;
  --highlight-background-color: #990099;
  --searchbox-background-color: #eeeeee;
  --sidebar-background-color: #eeeeee;
  --highlight-dimmed-background-color: #cccccc;
  --highlight-text-color: var(--light-color) !important;
  /* --button-background-hover: var(--hover-background-color) !important;
  /* --button-background-hover: color-mix(in, currentColor 11%, transparent) !important; */
  --checkbox-checked-border-color: var(--highlight-dimmed-background-color) !important;
  --checkbox-checked-bgcolor: var(--highlight-background-color) !important;
  --in-content-button-color-hover: var(--light-text-color) !important;
  --in-content-button-background-hover: var(--hover-background-color) !important;
  --in-content-primary-button-background: var(--highlight-background-color) !important;
  --in-content-primary-button-background-hover: var(--hover-background-color) !important;
  /*--in-content-button-background: #222222 !important;
  --in-content-button-background-hover: color-mix(in, currentColor 11%, transparent) !important;
  --in-content-primary-button-background: var(--highlight-background-color) !important;
  --in-content-primary-button-background-hover: color-mix(in, currentColor 11%, transparent) !important; */
  --lwt-tab-line-color: var(--highlight-background-color) !important;
  --selected-item-color: var(--highlight-background-color) !important;
  --mmHighlightBorderColor: var(--highlight-dimmed-background-color) !important;
  --mmDaySelectedBackground: var(--highlight-background-color) !important;
  --mmDaySelectedColor: var(--highlight-dimmed-background-color) !important;
  --listbox-selected-bg: var(--highlight-dimmed-background-color) !important;
  --listbox-focused-selected-bg: var(--highlight-background-color) !important;
  --folder-tree-row-height: 25px;
  --toolbar-field-background-color: var(--highlight-dimmed-background-color) !important;
  --toolbar-field-highlight-color: var(--highlight-background-color) !important;
  --sidebar-hover-background-color: var(--highlight-dimmed-background-color) !important;
  --sidebar-highlight-background-color: var(--highlight-background-color) !important;
  --tr-hover-background-color: var(--highlight-background-color) !important;
  --tr-selected-color: var(--light-text-color) !important;
  --tr-selected-background-color: var(--highlight-dimmed-background-color) !important;
  }

  #booksPane{
    background-color: var(--sidebar-background-color) !important;
  }

  #cardsPane{
    background-color: var(--sidebar-background-color) !important;
  }
}

@media (-moz-content-prefers-color-scheme:dark) {
  /* Dark Theme */
  :root {
  --light-color: white;
  --light-text-color: var(--light-color);
  --highlight-text-color: #bbbbbb;
  --hover-background-color: #434343;
  --highlight-background-color: #990099;
  --searchbox-background-color: #222222;
  --highlight-dimmed-background-color: #434343;
  /*--button-background-hover:  color-mix(in, currentColor 11%, transparent) !important; */
  --checkbox-checked-border-color: var(--highlight-dimmed-background-color) !important;
  --checkbox-checked-bgcolor: var(--highlight-background-color) !important;
  --in-content-button-color-hover: var(--light-text-color) !important;
  --in-content-button-background-hover: var(--highlight-dimmed-background-color) !important;
  --in-content-primary-button-background: var(--highlight-background-color) !important;
  --in-content-primary-button-background-hover: var(--highlight-dimmed-background-color) !important;
  /*--in-content-button-background: #999999 !important;
  --in-content-button-background-hover:  color-mix(in, currentColor 11%, transparent) !important;
  --in-content-primary-button-background: var(--highlight-background-color) !important;
  --in-content-primary-button-background-hover: color-mix(in, currentColor 11%, transparent) !important; */
  --lwt-tab-line-color: var(--highlight-background-color) !important;
  --selected-item-color: var(--highlight-background-color) !important;
  --mmHighlightBorderColor: var(--highlight-dimmed-background-color) !important;
  --mmDaySelectedBackground: var(--highlight-background-color) !important;
  --mmDaySelectedColor: var(--highlight-dimmed-background-color) !important;
  --listbox-selected-bg: var(--highlight-dimmed-background-color) !important;
  --listbox-focused-selected-bg: var(--highlight-background-color) !important;
  --folder-tree-row-height: 25px;
  --toolbar_field_focus: var(--highlight-background-color) !important;
  --toolbar-field-background-color: var(--highlight-dimmed-background-color) !important;
  --toolbar-field-highlight-color: var(--highlight-background-color) !important;
  --sidebar-highlight-background-color: var(--highlight-background-color) !important;
  --tr-hover-background-color: var(--hover-background-color) !important;
  --tr-selected-background-color: var(--highlight-dimmed-background-color) !important;
  }

  #booksPane{
    background-color: var(--sidebar-background-color) !important;
  }

  #cardsPane{
    background-color: var(--sidebar-background-color) !important;
  }

  table[is="tree-view-table"] td {
    background-color: #222222 !important;
  }

  tr[is="ab-card-row"] td > .card-container {
    background-color: #222222 !important;
  }
}

