/* New message button */
#folderPaneWriteMessage, #sidePanelNewEvent, #sidePanelNewTask, #toolbarCreateContact {
  background-color: var(--highlight-background-color) !important;
  border-color: var(--highlight-background-color) !important;
}

/* New  button */
#folderPaneWriteMessage:hover, #sidePanelNewEvent:hover, #sidePanelNewTask:hover, #toolbarCreateContact:hover {
  background-color: color-mix(in srgb, var(--highlight-background-color) 77%, transparent) !important;
  border-color: var(--highlight-dimmed-background-color) !important;
}

/* Tree view / List view */
[is="tree-view-table-body"] > .selected {
  background-color: var(--highlight-dimmed-background-color) !important;
  /* background-color: color-mix(in srgb, var(--highlight-background-color) 55%, transparent) !important; */
}

[is="tree-view-table-body"]:focus-within > .selected {
   color: var(--light-color) !important;
   background-color: var(--highlight-background-color) !important;
}

[is="tree-view-table-body"] > :hover {
   background-color: var(--hover-background-color) !important;
}

.container:hover {
   background-color: var(--hover-background-color) !important;
}

/* Folder pane */
li.selected > .container {
  background-color: var(--highlight-dimmed-background-color) !important;
  /* background-color: color-mix(in srgb, var(--highlight-background-color) 55%, transparent) !important; */
}

li.selected > .container:hover {
  background-color: var(--hover-background-color) !important;
  /* background-color: color-mix(in srgb, var(--highlight-background-color) 11%, transparent) !important; */
}

#folderTree:focus-within li.selected > .container,
#folderTree li.drop-target > .container {
  background-color: var(--highlight-background-color) !important;
}

#folderTree li.selected > .container,
#folderTree li.drop-target > .container {
  background-color: var(--highlight-dimmed-background-color) !important;
  /* background-color: color-mix(in srgb, var(--highlight-background-color) 55%, transparent) !important; */
}

/* Calendar List */
#calendar-list > li:not(.selected):hover {
  background-color: var(--hover-background-color) !important;
}

.searchBox, .themeableSearchBox { /* Eliminate borders, round corners, and increase height on buttons and search bars */
    border: none !important;
    border-radius: 5px !important;
    height: 31px !important;
    color: var(--highlight-dimmed-background-color) !important;
    background-color: var(--light-color) !important;
}

.toolbarbutton-1:hover {
  background-color: var(--hover-background-color) !important;
  /* background-color: color-mix(in srgb, var(--highlight-background-color) 77%, transparent) !important; */
  border-color: var(--highlight-dimmed-background-color) !important;
}

.contentTabUrlInput {
    height: 26px !important;
}

.panel-arrowbox { /* hide the arrow on popup menus */
    display: none;
}

.panel-arrowcontent { /* Eliminate borders, round corners, and increase padding on popup menus */
    padding: 5px !important;
    border-radius: 5px;
    border: none;
}

/* Do not show tabs toolbar as it is not needed with spaces */
#tabs-toolbar{ display: none !important}

.tab-background[selected="true"] {
    box-shadow: var(--tab-shadow) !important;
}

.tabmail-tab:hover .tab-background:not([selected="true"]) {
  background-color: var(--hover-background-color) !important;
  /* background-color: color-mix(in srgb, var(--highlight-background-color) 11%, transparent) !important; */
}

@media (-moz-content-prefers-color-scheme:light) {
  /* Light Theme */
  :root {
  --light-color: white;
  --light-text-color: var(--light-color);
  --hover-background-color: #dfdfdf;
  --highlight-text-color: #eeeeee;
  --highlight-background-color: #990099;
  --searchbox-background-color: #eeeeee;
  --sidebar-background-color: #eeeeee;
  --highlight-text-color: var(--light-color) !important;
  --highlight-dimmed-background-color: #cccccc;
  /* --button-background-hover: var(--hover-background-color) !important;
  /* --button-background-hover: color-mix(in, currentColor 11%, transparent) !important; */
  --checkbox-checked-border-color: var(--highlight-dimmed-background-color) !important;
  --checkbox-checked-bgcolor: var(--highlight-background-color) !important;
  --in-content-button-color-hover: var(--light-text-color) !important;
  --in-content-button-background-hover: var(--hover-background-color) !important;
  --in-content-primary-button-background: var(--highlight-background-color) !important;
  --in-content-primary-button-background-hover: var(--hover-background-color) !important;
  /*--in-content-button-background: #222222 !important;
  --in-content-button-background-hover: color-mix(in, currentColor 11%, transparent) !important;
  --in-content-primary-button-background: var(--highlight-background-color) !important;
  --in-content-primary-button-background-hover: color-mix(in, currentColor 11%, transparent) !important; */
  --lwt-tab-line-color: var(--highlight-background-color) !important;
  --selected-item-color: var(--highlight-background-color) !important;
  --mmHighlightBorderColor: var(--highlight-dimmed-background-color) !important;
  --mmDaySelectedBackground: var(--highlight-background-color) !important;
  --mmDaySelectedColor: var(--highlight-dimmed-background-color) !important;
  --listbox-selected-bg: var(--highlight-dimmed-background-color) !important;
  --listbox-focused-selected-bg: var(--highlight-background-color) !important;
  --folder-tree-row-height: 25px;
  --toolbar-field-background-color: var(--highlight-dimmed-background-color) !important;
  --toolbar-field-highlight-color: var(--highlight-background-color) !important;
  --sidebar-hover-background-color: var(--highlight-dimmed-background-color) !important;
  --sidebar-highlight-background-color: var(--highlight-background-color) !important;
  --tr-hover-background-color: var(--highlight-background-color) !important;
  --tr-selected-color: var(--light-text-color) !important;
  --tr-selected-background-color: var(--highlight-dimmed-background-color) !important;
  }

  #folderPane, #calSidebar {
    background-color: var(--sidebar-background-color) !important;
  }
}

@media (-moz-content-prefers-color-scheme:dark) {
  /* Dark Theme */
  :root {
  --light-color: white;
  --light-text-color: var(--light-color);
  --highlight-text-color: #bbbbbb;
  --hover-background-color: #434343;
  --highlight-background-color: #990099;
  --searchbox-background-color: #222222;
  --sidebar-background-color: #222222;
  --highlight-dimmed-background-color: #434343;
  /*--button-background-hover:  color-mix(in, currentColor 11%, transparent) !important; */
  --checkbox-checked-border-color: var(--highlight-dimmed-background-color) !important;
  --checkbox-checked-bgcolor: var(--highlight-background-color) !important;
  --in-content-button-color-hover: var(--light-text-color) !important;
  --in-content-button-background-hover: var(--highlight-dimmed-background-color) !important;
  --in-content-primary-button-background: var(--highlight-background-color) !important;
  --in-content-primary-button-background-hover: var(--highlight-dimmed-background-color) !important;
  /*--in-content-button-background: #999999 !important;
  --in-content-button-background-hover:  color-mix(in, currentColor 11%, transparent) !important;
  --in-content-primary-button-background: var(--highlight-background-color) !important;
  --in-content-primary-button-background-hover: color-mix(in, currentColor 11%, transparent) !important; */
  --lwt-tab-line-color: var(--highlight-background-color) !important;
  --selected-item-color: var(--highlight-background-color) !important;
  --mmHighlightBorderColor: var(--highlight-dimmed-background-color) !important;
  --mmDaySelectedBackground: var(--highlight-background-color) !important;
  --mmDaySelectedColor: var(--highlight-dimmed-background-color) !important;
  --listbox-selected-bg: var(--highlight-dimmed-background-color) !important;
  --listbox-focused-selected-bg: var(--highlight-background-color) !important;
  --folder-tree-row-height: 25px;
  --toolbar_field_focus: var(--highlight-background-color) !important;
  --toolbar-field-background-color: var(--highlight-dimmed-background-color) !important;
  --toolbar-field-highlight-color: var(--highlight-background-color) !important;
  --sidebar-highlight-background-color: var(--highlight-background-color) !important;
  --tr-hover-background-color: var(--hover-background-color) !important;
  --tr-selected-background-color: var(--highlight-dimmed-background-color) !important;
  }

  #calSidebar {
    background-color: var(--sidebar-background-color) !important;
  }
}

