/* New Contact button */
#toolbarCreateContact {
  color: #ffffff !important;
  background-color: #990099 !important;
  border-color: #660066 !important;
}

/* New Contact button - Hover*/
#toolbarCreateContact:hover {
  color: #ffffff !important;
  background-color: color-mix(in srgb, #990099 89%, transparent) !important;
  border-color: #660066 !important;
}

.toolbarbutton-1, .searchBox, .themeableSearchBox { /* Eliminate borders, round corners, and increase height on buttons and search bars */
    border: none !important;
    border-radius: 5px !important;
    height: 31px !important;
    background-color: #66066 !important;
}

/* Tree view / List view */
table[is="tree-view-table"] > .selected {
   color: #ffffff !important;
   background-color: color-mix(in srgb, #909 55%, transparent) !important;
}

table[is="tree-view-table"]:focus-within > .selected {
   color: #ffffff !important;
   background-color: #990099 !important;
}

/* Tree view / List view */
[is="tree-view-table-body"] > .selected {
   color: #ffffff !important;
   background-color: color-mix(in srgb, #909 55%, transparent) !important;
}

[is="tree-view-table-body"]:focus-within > .selected {
   color: #ffffff !important;
   background-color: #990099 !important;
}

/* Contact Card */
tr[is="ab-card-row"].selected:focus-within td {
  background-color: #990099 !important;
}

tr[is="ab-card-row"].selected td {
  background-color: color-mix(in srgb, #909 55%, transparent) !important;
}

tr[is="ab-card-row"]:hover td {
  background-color: color-mix(in srgb, #909 11%, transparent) !important;
}

tr[is="ab-card-row"].selected td > .card-container{
  background-color: #990099 !important;
}

tr[is="ab-card-row"]:hover td > .card-container{
  background-color: color-mix(in srgb, #909 11%, transparent) !important;
}

/* General settings per color scheme light/dark */
@media (-moz-content-prefers-color-scheme:light) {
  /* Light Theme */
    :root {
    --light-color: #990099;
    --light-text-color: #31363B;
    --light-white-background: white;
    --light-light-background: var(--light-color);
    --light-light-text-color: var(--light-text-color);
    --highlight-color: #990099;
    --highlight-text-color: var(--light-light-text-color);
    --button-background-hover: #330033;
    --checkbox-checked-border-color: #660066 !important;
    --checkbox-checked-bgcolor: #990099 !important;
    --in-content-button-background-hover: #cc00cc !important;
    --in-content-primary-button-background-hover: #cc00cc !important;
    --in-content-primary-button-background: #990099 !important;
    --lwt-tab-line-color: #990099 !important;
    --selected-item-color: #990099 !important;
    --mmHighlightBorderColor: #660066 !important;
    --mmDaySelectedBackground: #990099 !important;
    --mmDaySelectedColor: #660066 !important;
    --listbox-selected-bg: #660066 !important;
    --listbox-focused-selected-bg: #990099 !important;

    --folder-tree-background-color: var(--light-color) !important;
    --folder-tree-text-color: var(--light-text-color);
    --folder-tree-row-height: 25px;
    --folder-tree-highlight-background-color: var(--highlight-color);
    --folder-tree-highlight-text-color: var(--folder-tree-text-color);
    --toolbar-field-background-color: #660066 !important;
    --toolbar-field-highlight-color: #990099 !important;
    --sidebar-hover-background-color: #660066 !important;
    --sidebar-highlight-background-color: #990099 !important;
    --tr-hover-background-color: #990099 !important;
    --tr-selected-background-color: #660066 !important;
  }

  #books:not(:focus) :where(.bookRow, .listRow).selected > :is(.bookRow-container, .listRow-container){
     color: #ffffff !important;
  }
}

@media (-moz-content-prefers-color-scheme:dark) {
  /* Dark Theme */
    :root {
    --highlight-color: #990099;
    --button-background-hover: #330033;
    --checkbox-checked-border-color: #660066 !important;
    --checkbox-checked-bgcolor: #990099 !important;
    --in-content-button-background-hover: #cc00cc !important;
    --in-content-primary-button-background-hover: #cc00cc !important;
    --in-content-primary-button-background: #990099 !important;
    --lwt-tab-line-color: #990099 !important;
    --selected-item-color: #990099 !important;
    --mmHighlightBorderColor: #660066 !important;
    --mmDaySelectedBackground: #990099 !important;
    --mmDaySelectedColor: #660066 !important;
    --listbox-selected-bg: #660066 !important;
    --listbox-focused-selected-bg: #990099 !important;

    --folder-tree-row-height: 25px;
    --toolbar_field_focus: #990099 !important;
    --toolbar-field-background-color: #660066 !important;
    --toolbar-field-highlight-color: #ff00ff !important;
    --sidebar-highlight-background-color: #990099 !important;
    --tr-hover-background-color: #990099 !important;
    --tr-selected-background-color: #660066 !important;
  }

  #booksPane{
    background-color: var(--sidebar-background-color) !important;
  }

  #cardsPane{
    background-color: var(--sidebar-background-color) !important;
  }

  table[is="tree-view-table"] td {
    background-color: #222222 !important;
  }

  tr[is="ab-card-row"] td > .card-container {
    background-color: #222222 !important;
  }
}

