.contentTabUrlInput {
    height: 26px !important;
}

.panel-arrowbox { /* hide the arrow on popup menus */
    display: none;
}

.panel-arrowcontent { /* Eliminate borders, round corners, and increase padding on popup menus */
    padding: 5px !important;
    border-radius: 5px;
    border: none;
}

/* Do not show tabs toolbar as it is not needed with spaces */
#tabs-toolbar{ display: none !important}

.tab-background[selected="true"] {
    box-shadow: var(--tab-shadow) !important;
}
